* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    overflow-x: hidden;
}

header {
    width: 80%;
    background-color: white;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;

    text-align: center;

    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

main {
    width: 80%;
    margin-top: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.info {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;

    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.Imagen {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 2rem;              
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.Imagen img {
    width: 50%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}



h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.3rem;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.4rem;
}

a {
    text-decoration: none;
    color: #4a6cf7;
    transition: 0.3s;
    margin-bottom: 2rem;
}

a:hover {
    color: #1d3fd1;
}

html, body {
    overflow-x: hidden;
}